{% extends "../base.html" %}
{% load static %}    
{% block nav%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-end">
   <a class="navbar-brand" href="">
   <img src="{% static "images/reviews.svg" %}" width="40" height="40" alt="Logo">
   {% block headerName %}
   <span class="mt-2">Отзывы</span>
   {% endblock headerName %}
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      <form class="form-inline my-2 my-lg-0">
         {% block headerStat %}
         <a class="navbar-brand" href="{{ link }}../">
         <img src="{% static "images/vote.svg" %}" width="35" height="35" alt="Stats">
         Анкетирование
         </a>
         <a class="navbar-brand" href="{{ link }}../users_stats">
         <img src="{% static "images/stats.svg" %}" width="35" height="35" alt="Stats">
         Статистика
         </a> 
         {% endblock headerStat %}
      </form>
   </div>
</nav>
{% endblock nav %}


{% block content %}
<div style="margin-right: 0; margin-left: 0;" class="row">
   <div class="col-md-2"></div>
   <div class="col-md-8">
      <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <div class="card text-center m-3">
            <div class="card-header">
               Отзывы и предложения
            </div>
            <div class="card-body">
               <div class="form-group">
                  <label for="exampleFormControlInput1">Ваша электронная почта для обратной связи</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
               </div>
               <div class="form-group">
                  <label for="exampleFormControlTextarea1">Ваш отзыв или рекомендация</label>
                  <textarea class="form-control" name="review" id="exampleFormControlTextarea1" rows="3" required></textarea>
               </div>
               <div class="form-group">
                  <label for="exampleFormControlFile1">Можете прикрепить фотографию</label> 
                   <input type="file" name="image_file" accept="image/*,video/*" >
               </div>
                <div id="alert" style="display: none;"  class="alert alert-danger" role="alert">
                Вы выбрали больше 10 файлов
                </div>
                {% if send %}
                    <div id="alert" class="alert alert-success ml-2 mr-2" role="alert">
                        Успешно отправлено
                    </div>
                {% endif %}
                <button id="send" value="Send" type="submit" class="btn btn-outline-secondary mt-2 mb-2 ml-lg-2 mr-lg-2" role="button">Отправить</button>
            </div>
         </div>
      </form>
   </div>
</div>
{{kek}}
<script src="{% static "js/validate_files.js" %}" >
</script>

{% endblock content %}