{% extends "base.html" %}

{% block headerName %}
  #Статистика
{% endblock headerName %}

{% block content %}
    <div style="display: flex; justify-content: center;">
      <div class="card mt-5" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Загрузка завершена</h5>
          <p class="lead text-center">
            <a class="btn btn-primary btn-lg" href="/" role="button">Назад</a>
        </p>
        </div>
    </div>
  </div>

  <a style="display: none;" id="download_btn" href="../mediafiles/out.xlsx">файл</a>

    <script>
        window.onload = function() {
        document.getElementById("download_btn").click()
        };
    </script>
{% endblock content %}  