<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- My styles -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}" /> 

    <title>Статистика</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="{% static "images/vote.svg" %}" width="40" height="40" class="d-inline-block align-top" alt="">
        #Статистика
    </a>
    </nav>

    <div class="container mt-5">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Collapsible Group Item #2
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
          </div>
    </div>

    <div style="margin-right: 0; margin-left: 0;" class = "row mb-5">
        <div class="col-lg-2"></div>
            <div class="col-lg-8 col-12">
                <div class="card text-center m-2">
                    <div style="display: flex; justify-content: center; margin-top: -25px;" class="card-body">
                        <div class="row mt-3">
                            <div class="col-12">
                                <ul id="questions" class="list-group mb-4">
                                    {% for el in value_and_question %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                            <span id = "{{ el.2 }}" name="skill">{{ el.0 }}  </span> 
                                            <span id = "{{ el.2 }}_value" class="badge badge-primary badge-pill">{{ el.1 }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>     
                                <form method="GET">
                                    {% csrf_token %}      
                                    <button id="send" value="Send" type="submit" class="btn btn-outline-secondary"><a href="/download_stats">Скачать статистику</a></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-lg-2"></div>
        </div>
    </div>

    <div style="margin-right: 0; margin-left: 0;" class="row mb-5">
        <div class="col-2"></div>
            <div class="col-8">
                <canvas id="oilChart1"></canvas>
            </div>
        <div class="col-2"></div>
    </div>

    <div style="margin-right: 0; margin-left: 0;" class="row mb-5">
        <div class="col-2"></div>
            <div class="col-8">
                <canvas id="oilCanvas_polar"></canvas>
            </div>
        <div class="col-2"></div>
    </div>


    {{ answers_list }}
    {{ questions_list }}
    {{ pvi_list }}
    {{ comments_list }}

    <script>
    
        var oilCanvas = document.getElementById("oilChart1");
        var oilCanvas_polar = document.getElementById("oilCanvas_polar");
        lst = [];
        lst_val = [];
 
        var obj_list = document.querySelector('#questions'),
            objs_list_li = obj_list.querySelectorAll('li');

        // Перебираем все li в #list
        for(var i = 0; i < objs_list_li.length; i++){
        // Получаем список ul находящиеся в li
        var objs_li_ul = objs_list_li[i].querySelectorAll('ul');
            // Если li имеет ul, то применяем к заголовку стиль
        };

        var list = obj_list.querySelectorAll('li');
        var list_len = list.length;
        var res = [];
        var res_points = [];
        for(var i = 0; i < list_len; i++){
            lst[i] = list[i].querySelectorAll('span')[0].textContent;
            lst_val[i] = list[i].querySelectorAll('span')[1].textContent;
            res.push(lst[i]);
            res_points.push(lst_val[i]);
        };



        Chart.defaults.global.defaultFontFamily = "Comfortaa";
        Chart.defaults.global.defaultFontSize = 18;
        
        
        
        var oilData = {
            labels: res,
            datasets: [
                {
                    data: res_points,
                    backgroundColor: [
                        "#1E90FF",
                        "#696969",
                        "#84FF63",
                        "#8463FF",
                        "#6384FF",
                        '#36006d',
                        '#e7ff0c',
                        '#9500a2',
                        '#ffb8ff',
                        '#e2ff7e',
                    ],
                    

                    borderWidth: 6
                }]
        };

        var pieChart = new Chart(oilCanvas, {
        type: 'doughnut',
        data: oilData,
        options: {
                title: {
                    display: true,
                    text: 'График 1'
                },
                legend: {
                    display: false,
                }
            },
        });

        var polarChart = new Chart(oilCanvas_polar, {
        type: 'polarArea',
        data: oilData,
        options: {
                title: {
                    display: true,
                    text: 'График 2'
                },
                legend: {
                    display: false,
                }
            },
        });
        
    </script>

        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>